{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Delete Product Details</h2>
    <form class="form-horizontal pull-left" role="form" method='POST' enctype='multipart/form-data' action='/catalog/{{category_id}}/products/{{product_id}}/delete'>

    	<div class="form-group">    
            <label for="delete" class="col-md-6 control-label">Are you sure? </label>
            <div class="col-md-6">
            <button class="btn btn-md btn-danger btn-block" type="submit">Confrim Delete</button>
            <br> <a href = "{{ url_for('get_product_details', category_id=category_id, product_id=product_id)}}"> Cancel </a>
            </div>
        </div>
    	 
    </form>
</div> 
     

{% endblock %}