{% extends "base.html" %}
{% block content %}
    {% for product in product_details %}
    <div>
        <ul class="list-group">
            <li class="list-group-item" > Item : {{product.prdname}} </li>
            <li class="list-group-item">Description: {{product.prd_desc}}</li>
            <li class="list-group-item">Price: {{product.price}} $ </li>
        </ul>
    	<br><a href ='/catalog/{{product.prdcat_id}}/products/{{product.id}}/edit' >Edit </a>
    	<span> &nbsp|&nbsp </span>
    	<a href ='/catalog/{{product.prdcat_id}}/products/{{product.id}}/delete' > Delete </a>
    </p> </div>
    {% endfor %}
    
{% endblock %}